@import '../../scss/main.scss';

.header {
  background-color: $headerBgClr;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  .logo {
    padding-left: 50px;
    a {
        text-transform: uppercase;
        font-size: 50px;
        color: #f63;
        &:hover {
            color: aqua;
        }
    }
  }
  nav {
      padding-right: 50px;
      display: flex;
      align-items: center;
      ul {
          width: 100%;
          display: flex;
          li {
              position: relative;
              padding: 0 20px;
              border-right: 1px solid red;
              &:last-child {
                  border: none;
              }
              a {
                  font-size: 20px;
                  text-transform: uppercase;
                  color: #fff;
                  &:hover {
                      color: #fa5;
                  }
              }
              .subMenu {
                  display: none;
                  //display: block;
                  position: absolute;
                  margin-left: -20px;
                  padding: 10px 0;
                  @include border-radius(10px);

                  background-color: $headerBgClr;
                  li {
                      text-align: center;
                      padding: 5px 0;
                      border: none;
                      a {
                          font-size: 16px;
                          font-style: italic;
                          text-transform: capitalize;
                      }
                  }
              }
              &:hover > .subMenu {
                  display: block;
              }
          }
          .current {
              background-color: rgba(100, 100, 255, 0.5);
              padding: 10px;
              border-radius: 10px;
          }
      }
  }
}